.label {
    font-size: 16px;
}

select {
    font-size: 16px;;
}

circle {
    fill: lightblue; 
    stroke: black;
} 

.axis {
    font-size: 16px;
    font-family: sans-serif;
}

.axis-title {
    color: black;
    font-size: 8px;
    font-family: sans-serif;
    font-style: italic;
}

.tooltip {
    position: absolute;
    width: 560px;
    height: auto;
    padding: 10px;;
    max-height: 400px;
    color: white;
    font-size: 16px;
    background-color:black;
    border-width: 4px;
    border-radius: 10px;
    border-bottom-width: 14px;
}

.title-text {
    font-size: 20px;
    font-weight: bold;
}

.legend-text {
    font-size: 10px;
    color: black;
}

#tooltipSvg {
    padding: 10px;
    background-color: transparent!important;
    color: white;
}

svg {
    background-color: whitesmoke;
    border-color: beige;
    border: 10px;
}

p {
    font-size: 16px;
    padding: 0px;
}

li {
    font-size: 16px;
    padding: 8px;
}

h4 {
    font-size: 1.7em;
    margin: 0px;
    padding: 0px;
}

h5 {
    font-size: 1.7em;
    margin: 0px;
}

.row {
    width: 1200px;
}

.content-header {
    margin: 0px;
}

.content-text {
    padding: 0px;
    font-size: 8px;
}

.content-chart {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.content-chart-params {
    width: 30%;
    background-color: gainsboro;
}

.content-chart-param {
    padding-top: 10px;  
}

.content-chart-param > span {
    width: 60px;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

.content-chart-param > select {
    width: 180px;
    display: inline-block;
}

.content-chart-chart {
    width: 80%;
}

.content-footer {
    padding: 10px;
    height: 48px;
    display: flex;
    flex-direction: row;
 }

 .content-footer-button {
    padding-left: 20px;
    color:darkblue;
 }
 
.button-back {
    font-size: 28px;
    background-color: orange;
    color: navy;
    width: 120px; 
}

.button-next {
    font-size: 28px;
    background-color: orange;
    color: navy;
    width: 120px;
}


.md-6 {
    width: 50%;
}

.md-6 {
    width: 50%;
}

.annotation-note-title {
    font-size: 16px;
}

.annotation-note-label {
    font-size: 12px;
    text-align: left;
    padding-top:10px;
}

.disclaimer {
    font-size: 12px;
    padding-left: 20px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}