p {
    font-size: 16px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;;
}

li {
    font-size: 12px;
}

h4 {
    font-size: medium;
    margin: 0px;
    padding: 10px;
}

h5 {
    font-size: large;
    margin: 10px;
}

.content-header {
    margin: 0px;
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.content-header-navbar {
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.content-header-text {
    width: 60%;
}

.row {
    width: 1300;
    padding-left: 10px;
    padding-right: 10px;
}

.label {
    font-size: 16px;
}

select {
    font-size: 16px;;
}

svg {
    background-color: whitesmoke;
    border-color: beige;
    border: 10px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 60%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

circle {
    fill: lightblue; 
    stroke: black;
} 

.axis {
    font-size: 6px;
    font-family: sans-serif;
}

.axis-title {
    color: black;
    font-size: 8px;
    font-family: sans-serif;
    font-style: italic;
}

.tooltip {
    position: absolute;
    z-index: 999;
    width: 450px;
    height: auto;
    padding: 10px;;
    max-height: 400px;
    color: white;
    font-size: 16px;
    background-color:black;
    border-width: 8px;
    border-radius: 16px;
    border-bottom-width: 14px;
}

.tooltip > a {
    color: wheat;
}

.title-text {
    font-size: 12px;
    font-weight: bold;
}

#tooltipSvg {
    padding: 10px;
    background-color: transparent!important;
    color: white;
}

.content-text {
    padding: 10px;
    font-size: 16px;
    background-color: lightgray;
}

.content-chart {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 475px;
}

.content-chart-chart {
    width: 80%;
}

.content-chart-params {
    width: 25%;
    margin-right: 10px;
    padding-bottom: 20px;
    background-color: gainsboro;
}

.content-chart-param {
    padding-top: 10px;  
}

.content-chart-param > span {
    width: 80px;
    padding-left: 10px;
    text-align: left;
    display: inline-block;
}

.content-chart-param > select {
    width: 140px;
    display: inline-block;
}

.content-footer {
    padding: 10px;
    height: 48px;
    display: flex;
    flex-direction: row;
 }

 .content-footer-button {
    padding-left: 20px;
    color:darkblue;
 }
 
.button-back {
    font-size: 28px;
    background-color: orange;
    color: navy;
    width: 120px; 
}

.button-next {
    font-size: 28px;
    background-color: orange;
    color: navy;
    width: 120px;
}

.legend-text {
    font-size: 9px;
    color: black;
}

.tooltip-legend-text {
    font-size: 8px;
    color: white;
}

.annotation-note-title {
    font-size: 10px;
}

.annotation-note-label {
    font-size: 8px;
}

.disclaimer {
    font-size: 14px;
    padding-left: 10px;
}

.box {
	 
	box-shadow:  2px 2px 0 darkorange;
    border-radius: 10px;
}

table {
    width: 100%;
}

table tr:nth-child(even){
    background-color: lightgray;
    color: black;
}

table tr:nth-child(2) > td {
    text-align: left;
}

tr td:first-child {
    text-align: left;
}

td {
    text-align: right;
}

td > span {
    font-size: 16px;
    font-weight: normal;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: darkorange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
 

